@keyframes fadeInText {
    0% {
        font-size: 0rem;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes expand {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes fadeInBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

