@import "./variables.scss";

@mixin menu_item_text {
    @include all_transition;
    display: inline-block;
    cursor: pointer;
    font: 400 1.7rem "Roboto";
    text-transform: capitalize;
}

@mixin paragraph {
    @include all_transition;
    font: 300 1.7rem "Roboto";
    color: $paragraph;
    @include respond(phone) {
        font-size: 2.5rem;
    }
}

@mixin error {
    @include all_transition;
    font: 300 1.5rem "Roboto";
    color: $red;
}

@mixin tooltip {
    @include all_transition;
    font: 300 1.2rem "Roboto";
    color: $white;
}

@mixin button_label {
    @include all_transition;
    font: 400 1.7rem "Roboto";
    color: $white;
}

@mixin grey_small_text {
    @include all_transition;
    font: 300 1.3rem "Roboto";
    color: $stepper_label;
}

@mixin all_transition {
    transition: all 0.3s ease;
}

@mixin h1 {
    font: 400 7rem "Roboto";
    margin: 1rem;
    @include respond(phone) {
        font-size: 5rem;
    }
}

@mixin h2 {
    font: 400 5rem "Roboto";
    margin: .7rem;
    @include respond(phone) {
        font-size: 4rem;
    }
}

@mixin h3 {
    font: 300 3rem "Roboto";
    margin: .5rem;
    @include respond(phone) {
        font-size: 3rem;
    }
}

@mixin h4 {
    font: 300 2.2rem "Roboto";
    margin: .2rem;
    @include respond(phone) {
        font-size: 2.5rem;
    }
}

@mixin border {
    border: 1px solid $border;
}

@mixin clicked {
    transform: translateY(.3rem);
}
// Media query manager
/*
0 - 600px:          Phone
600 - 900px:        Tablet Portrait
900 - 1200:         Tablet Landscape
1200 - 1800px:      Normal Style
1800px:             Big Desktop

$breakpoint argument choices:
- phone
-tab-port
-tab-land
- desktop
*/

@mixin respond($breakpoint) {
    @media (max-width: 40em) {
        //16px * 40 = 640px
        @if $breakpoint == phone {
            @content;
        }
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {
            //900px (em is the best unit for media query)
            @content;
        }
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {
            // < 1200px
            @content;
        }
    }
    @if $breakpoint == desktop {
        @media (min-width: 75em) {
            // < 1200px
            @content;
        }
    }
}
