$black: #000;
$white: #fff;
$red: #ff0000;
$primary: #0c3e72;
$primary_light: #2493e0;
$secondary_light: #ff8b23;
$secondary: #fe5c24;

$paragraph: #777;

$toggle_button: #9b9b9b;
$back_button: #9b9b9b;
$back_button_hover: #777;

$nav_sub_menu_bg: #ececec;
$service_background_dark: #e2e2e2;

$border: #9b9b9b;

$cloudy: rgba(255, 255, 255, 0.5);
$stepper_index: #9b9b9b;
$stepper_index_complete: #2493e0;
$stepper_label: #9b9b9b;
$stepper_label_complete: #0c3e72;

$shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.1);
$service_shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);

