$secondary: #fe5c24;
$secondary_light: #ff8b23;
$primary: #0c3e72;
$primary_light: #2493e0;
$paragraph: #777;
$toggle: #9b9b9b;
$nav_menu_bg: #e7e7e7;
$white: #fff;
$black: #000;

$shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);

