$black: #000;
$white: #fff;
$red: #ff0000;
$primary: #0c3e72;
$primary_light: #2493e0;
$secondary_light: #ff8b23;
$secondary: #fe5c24;

$paragraph: #777;

$toggle_button: #9b9b9b;

$nav_sub_menu_bg: #ececec;

$border: #9b9b9b;


$stepper_index: #9b9b9b;
$stepper_index_complete: #2493e0;
$stepper_label: #9b9b9b;
$stepper_label_complete: #0c3e72;

$shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);

