@import "./variables.scss";

@mixin menu-item {
    display: inline-block;
    cursor: pointer;
    font: 400 1.7rem "Roboto";
    text-transform: capitalize;
    height: 100%;
}

@mixin button {
    background-color: $base_color;
    border: none;
    color: $white_color;
    cursor: pointer;
    font: 400 1.7rem "Roboto";
    padding: 1.5rem 3rem;
    text-transform: capitalize;
}