$primary-light: #a4a4a4;
$primary-main: #757575;
$primary-dark: #494949;
$primary-contrastText: #fff;

$secondary-light: #ffc947;
$secondary-main: #ff9800;
$secondary-dark: #c66900;
$secondary-contrastText: #000;