@import '../../assets/scss/variable.scss';

.Field {
  margin: 3rem;
  color: $primary-main;
  font-weight: 300;

  .Label {
    display: block;
    margin: 0.5rem;
  }

  .Input,
  .Select {
    height: 2rem;
    color: $primary-main;
  }

  .Input {
    width: 30%;
  }

  .Select {
    min-width: 15%;
  }
}
