@import "../../assets/scss/variable.scss";

.Field {
  margin: 1.5rem;
  color: $primary-main;
  font-weight: 300;
  .Error {
    color: red;
  }

  .Label, .Description {
    display: block;
    margin: 0.5rem;
    text-align: center;
  }

  .Input,
  .Select {
    height: 2rem;
    color: $primary-main;
  }

  .Input {
    width: 30%;
  }

  .Select {
    min-width: 15%;
    padding: 0 .5rem;
  }

  .Tooltip {
    font-size: .5rem;
  }
}
