@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/keyframes.scss";

.Field {
  margin: 1.5rem;
  color: $font_7;
  .Error {
    color: red;
    animation: fadeIn ease .3s;
  }

  .Label,
  .Description {
    display: block;
    margin: 0.5rem;
    text-align: center;
  }

  .Input,
  .Select,
  .Date,
  .Adjust {
    display: block;
  }

  .Control {
    vertical-align: middle;
    cursor: pointer;
    color: $font_7;
    margin: 0.5rem;
  }

  input,
  select,
  option {
    height: 2rem;
    margin: 0.5rem auto;
  }

  .Adjust input {
    max-width: 5%;
    text-align: center;
  }

  .Input input {
    width: 30%;
  }

  .Select select,
  .Date input {
    min-width: 15%;
    padding: 0 0.5rem;
  }

  .Tooltip {
    font-size: 0.5rem;
  }
}

.Field,
.Control,
input,
select,
option {
}
