@import '../../assets/scss/variable.scss';

.Section {
    border: 1px solid $primary-light;   
    margin-bottom: 2rem;
    padding: 1rem 3rem;
    .Legend {
        padding: 0 1rem;
        font-weight: 300;
    }
    .Description {
        font-weight: 300;
        margin-bottom: 2rem;
    }
}