@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/keyframes.scss";

.Field {
  margin: 2rem;
  .Error {
    @include error;
    animation: fadeIn ease 0.3s;
  }

  .Label,
  input,
  select,
  option {
    @include paragraph;
  }
  .Description {
    @include grey_small_text;
    text-align: center;
  }

  .Control {
    vertical-align: middle;
    cursor: pointer;
    color: $paragraph;
    margin: 0.5rem;
  }

  input,
  select,
  option {
    margin: 0.5rem 0;
    height: 5rem;
    padding: 0 0.5rem;
  }

  .Adjust input {
    width: 5%;
    text-align: center;
  }

  .Input input {
    width: 30%;
  }

  .Select select,
  .Date input {
    width: 15%;    
  }

  .Tooltip {
    font-size: 0.5rem;
  }
}
