@import '../../assets/scss/variables.scss';

.Section {
    border: 1px solid $secondary;   
    margin-bottom: 2rem;
    padding: 2rem;
    .Legend {
        padding: 0 1rem;
        font-weight: 300;
    }
    .Description {
        font-weight: 300;
        margin-bottom: 2rem;
    }
}