@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.Stepper {
    display: flex;
    justify-content: space-between;
    .Step {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 1rem;
        .Index {
            border-radius: 50%;
            background-color: $stepper_index;
            @include white_text;
            width: 3rem;
            height: 3rem;
            padding: .6rem;
            margin: .5rem;
            text-align: center;
        }

        .Label {
            @include grey_small_text;
        }
        .Line {
            height: 1px;
            background-color: $stepper_index;
            position: absolute;
            width: 80%;
            top: 40%;
            left: 61%;
        }
    }

    .Complete {
        .Index {
            background-color: $stepper_index_complete;
        }
        .Label {
            color: $stepper_label_complete;
        }
    }
}
