@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/keyframes.scss";

.Tooltip {
    display: inline-block;
    position: relative;
    .Icon {
        margin: auto 0.5rem;
        color: $toggle_button;
    }
    .Content {
        @include small_text;
        animation: fadeInBlock ease 0.3s;
        display: none;
        color: $white;
        padding: 1rem;
        position: absolute;
        top: 0;
        transform: translateX(-100%);
        width: 30rem;
        background-color: rgba($color: $paragraph, $alpha: 0.8);
    }
    &:hover {
        .Content {
            display: block;
        }
    }

}
