@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.Form {
  width: 90%;
  margin: auto;
  .Button {
    text-transform: capitalize;
    margin: 1rem 0;
    color: $secondary-contrastText;
    @include normalFont;
  }
  .Complete {
    font: 300 2rem 'Roboto';
  }
  .Instruction {
    font-weight: 300;
    margin-bottom: 2rem;
}
}


