@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.Form {
  @include all_transition;
  margin: 1rem auto;
  position: relative;
  width: 100%;
  .Complete {
    font: 300 2rem "Roboto";
  }
  .Instruction {
    font-weight: 300;
    margin-bottom: 2rem;
  }
  Button {
    cursor: pointer;
  }
  .Finished {
    color: $secondary;
    position: absolute;
    top: 20%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, 50%);
    width: 100%;
    .Heading {
      @include h3;
    }
    .Message {
      @include paragraph;
    }
  }
}
