@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.RenderedForm {
  position: relative;
  top: 7rem;

  .FormHeading {
    margin: 5rem auto;
    h2 {
      color: $primary;
    }
  }

  .FormArea {
    margin-bottom: 5rem;
    .Finished {
      .Heading {
        .Message {
          color: $paragraph;
        }
      }
    }
    .Form {
      .FormSection {
        .SectionDescription {
          margin-bottom: 5rem;
          color: $paragraph;
        }
      }
    }
  }

  .FormButtons {
    margin-bottom: 2rem;
  }

  @include respond(tab-port) {
    top: 10rem;
  }
  @include respond(phone) {
    top: 12rem;
  }
  /* .Stepper,
  .Form,
  .SectionDescription {
    margin-bottom: 3rem;
  }
  
  .Heading {
    color: $primary;
  }

  .SectionDescription {
    color: $paragraph;
  }

  .Finished {
    color: $secondary;
    position: absolute;
    top: 20%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, 50%);
    width: 100%;
  }

  .Form {
    @include all_transition;
    width: 100%;
  }

  .FormButtons {
    Button {
      margin: 0 0.2rem;
    }
  }
 */
}
