@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";

.Services {
    display: flex;
    justify-content: center;
    width: 100%;
    .Airport,
    .Tour,
    .Hourly {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: $nav_sub_menu_bg;
        height: 40rem;
        width: 30rem;
        margin: auto 0.5rem;
        padding: 2rem;
        .Icon {
            height: 50%;
        }
        .ServiceInfo {
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
    @include respond(tab-port) {
        .Airport,
        .Tour,
        .Hourly {
            height: 45rem;
            width: 30rem;
        }
    }
    @include respond(phone) {
        flex-direction: column;
        align-items: center;
        .Airport,
        .Tour,
        .Hourly {
            width: 95%;
            height: 30rem;
            margin: 0.5rem auto;
            flex-direction: row;
            justify-content: space-evenly;
            .Icon {
                width: 25%;
                height: auto;
            }
            .ServiceInfo {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
    }
}
