@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";

.SelectServices {
    .Service {
        display: flex;
        justify-content: space-around;
        margin: 5rem 0;
        .Airport,
        .Tour,
        .Hourly {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $nav_sub_menu_bg;
            width: 32%;
            padding: 1rem;
            height: 40rem;
            &:hover {
                transform: scale(1.05);
                box-shadow: $service_shadow;
            }
            @include all_transition;
            cursor: pointer;
            .Icon {
                width: 50%;
            }
            .ServiceName {
                @include h4;
                color: $primary;
            }
            p {
                @include paragraph;
            }
            .Icon,
            p,
            .ServiceName {
                margin: 1rem 0;
            }
        }

        @include respond(phone) {
            flex-direction: column;
            justify-content: space-around;
            .Airport,
            .Tour,
            .Hourly {
                width: 100%;
                margin: 1rem 0;
            }
        }
    }
}
