@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.Modal {
    position: fixed;
    z-index: 20;
    background-color: white;
    width: 70%;
    border: none;
    box-shadow: $shadow;
    padding: 2rem;
    left: 15%;
    top: 30%;
    transition: all 0.3s ease-out;
}

@include respond(phone) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
