@import "../../assets/scss/variables.scss";

.Logo {
  cursor: pointer;
  font: 900 3rem "Roboto";
  text-transform: uppercase;
  .LogoText {
    color: $menu_color;
    span {
      color: $base_color;
    }
  }
  a {
    text-decoration: none;
  }
}
