@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.Logo {
  float: left;
  margin: 1.6rem 0;
  cursor: pointer;
  font: 900 3rem "Roboto";
  text-transform: uppercase;
  .LogoText {
    color: $primary;
    span {
      color: $secondary;
    }
  }
  a {
    text-decoration: none;
  }

  @include respond(tab-land) {
    margin: 2rem 0;
  }

  @include respond(tab-port) {
    margin: 3rem 0;
  }

  @include respond(phone) {
    font-size: 5rem;
    margin: 3rem 0;
  }
}
