@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.Logo {
  cursor: pointer;
  font: 900 3rem "Roboto";
  text-transform: uppercase;
  .LogoText {
    color: $primary;
    span {
      color: $secondary;
    }
  }
  a {
    text-decoration: none;
  }
  
  @include respond(phone) {
    .LogoText {
      font-size: 5rem;
    }
  }
}
