@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.Button {
  @include menu_item_text;
  color: $white;
  padding: 1.5rem 3rem;
  @include respond(tab-land) {
    padding: 1 2rem;
  }
  @include respond(tab-port) {
    padding: 1rem 1.5rem;
  }
  @include respond(phone) {
    padding: 1rem;
  }
}

.cta {
  display: block;
  float: right;
  margin: 1rem 0;
  border: none;
  background-color: $secondary;
  &:hover {
    background-color: $primary;
  }
  @include respond(tab-land) {
    margin: 1.5rem 0;
  }
  @include respond(tab-port) {
    padding: 1.5rem 2rem;
    margin: 2.5rem 0;
  }
  @include respond(phone) {
    display: block;
    width: 100%;
    font-size: 3rem;
    padding: 2rem 0;
    margin: 0;
  }
}

.intro {
  border: none;
  background-color: $secondary_light;
  padding: 3rem 5rem;
  margin: 3rem 0;
  backface-visibility: hidden;
  &:hover {
    backface-visibility: hidden;
    border: none;
    background-color: $primary_light;
  }
  @include respond(tab-port) {
    font-size: 2.5rem;
  }
  @include respond(phone) {
    padding: 2rem 3rem;
    font-size: 2.5rem;
  }
}

.info {
  border: none;
  background-color: $primary_light;
  &:hover {
    background-color: $secondary_light;
  }
}

.cta, .info, .intro {
  @include text_transition;
}
