@import "../../assets/scss/variables.scss";
@import "../../assets/scss/keyframes.scss";
@import "../../assets/scss/mixins.scss";

.Dropdown {
    @include paragraph;
    @include nav_item;
    color: $primary;
    &:hover {
        color: $secondary;
    }
    .DropdownContent {
        @include all_transition;
        position: absolute;
        top: -5rem;
        transform: translateZ(-1px);
        list-style: none;
        background-color: $white;
        width: auto;
        box-shadow: $shadow;
    }
}

.Dropdown:hover .DropdownContent {
    @include respond(desktop) {
        top: 7rem;
    }
    @include respond(tab-land) {
        top: 8rem;
    }
    @include respond(tab-port) {
        top: 10rem;
    }
}
