@import "../../assets//scss/variables";
@import "../../assets//scss/mixins";

 header{
   .NavBar {
     box-shadow: $shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 0 10rem;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: $white;
    z-index: 100;
    transform-style: preserve-3d;
    @include respond(tab-land) {
      height: 8rem;
      padding: 0 2rem;
    }
    @include respond(tab-port) {
      height: 10rem;
    }
    @include respond(phone) {
      height: 12rem;
      padding: 0 5rem;
      Button {
        display: none;
      }
    }
  }
}
