@import "../../assets//scss/variables.scss";
@import "../../assets//scss/keyframes.scss";

.DropdownItem {
    text-align: left;
    text-transform: capitalize;
    line-height: 2.5;
    a {
        display: block;
        color: $primary;
        padding: .25rem 3rem;
        text-decoration: none;
        transition: all .3s ease;
        &:hover {
            color: $secondary;
        }
    }
}
