@import "../../assets/scss/variables.scss";
@import "../../assets/scss/keyframes.scss";
@import "../../assets/scss/mixins.scss";

.Dropdown {
    @include paragraph;
    align-items: center;
    color: $primary;
    cursor: pointer;
    display: flex;
    height: 100%;
    &:hover {
        color: $secondary;
    }
    .DropdownContent {
        @include all_transition;
        position: absolute;
        top: -5rem;
        transform: translateZ(-1px);
        list-style: none;
        background-color: $white;
        width: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
}

.Dropdown:hover .DropdownContent {
    top: 10rem;
}
