@import "../../assets//scss/variables";
@import "../../assets//scss/mixins";

.NavBar {
  align-items: center;
  background-color: $white;
  box-shadow: $shadow;
  display: flex;
  height: 7rem;
  justify-content: space-between;
  padding: 0 10rem;
  position: fixed;
  width: 100%;
  z-index: 9999 !important;
  @include respond(tab-land) {
    padding: 0 2rem;
  }
}
