@import "../../assets//scss/variables.scss";

.NavBar {
  align-items: center;
  background-color: $white_color;
  box-shadow: $shadow;
  display: flex;
  height: 7rem;
  justify-content: space-between;
  padding: 0 10rem;
  position: fixed;
  width: 100%;
  z-index: 9999 !important;
}
