@import "../../assets//scss/variables";
@import "../../assets//scss/mixins";

.NavBar {
  box-shadow: $shadow;
  display: block;
  height: 7rem;
  padding: 0 10rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: $white;
  @include respond(tab-land) {
    height: 8rem;
    padding: 0 2rem;
  }
  @include respond(tab-port) {
    height: 10rem;
  }
  @include respond(phone) {
    height: 12rem;
    padding: 0 5rem;
    Button {
      display: none;
    }
  }
}
