@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";
@import "../../assets/scss/keyframes";

.NavItemsMobile {
  display: none;
  @include all_transition;

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 12rem;
    background-color: $white;
    box-shadow: $shadow;
  }

  .Dropdown {
    z-index: 2;
    .DropdownItem {
      @include all_transition;
      display: none;
      transform: translateY(-100vh);
      background-color: $nav_sub_menu_bg;
      width: 100%;
    }
    &:hover .DropdownItem {
      display: block;
      transform: translateY(0);
    }
  }
}
