@import "../../assets//scss/variables.scss";

.NavigationItem {
    display: inline-block;
    font: 400 1.5rem "Roboto";
    letter-spacing: 0.2rem;
    margin: 0 2rem;
    text-transform: capitalize;
    a {
        color: $menu_color;
        text-decoration: none;
    }
}
