@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.NavItem {
    @include menu-item;
    a {
        display: inline-block;
        height: 100%;
        padding: 2.5rem;
        color: $primary;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
            color: $secondary;
        }
        @include respond(tab-land) {
          padding: 2rem;
        }
        @include respond(tab-port) {
          padding: .7rem;
        }
        @include respond(phone) {
          padding: .5rem;
        }
    }
}
