@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";

.NavItems {
  display: inline-block;
  list-style: none;
  height: 100%;

  @include respond(phone) {
    display: none;
  }
}
