.Banner {
  position: relative;
  height: 100vh;
  background-image: url(../../assets/img/aerial-beach.jpg);
  background-size: cover; 
  background-position: top;
  padding-top: 3rem;
  padding: 3rem 0 5rem 0;
}
